# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Gradio specific
gradio/

# Pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python version specific
pip-selfcheck.json

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sql
*.sqlite

# Local History for IDEs
.idea/

# User-specific files
*.sublime-project
*.sublime-workspace

/flagged
